@model ICollection<Home>
@{
    ViewData["Title"] = "MyAnnounces";
}

<section class="background-img" data-setbg="assets/img/details-background.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>My Announces</h1>
                <ul>
                    <li><a asp-controller="home" asp-action="index">Home</a></li>
                    @*<li><span class="slash">/</span><a href="#">Property Catalog</a></li>*@
                    <li><span class="slash">/</span><span>My Announces</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="homes">
    <div class="container">
        <div class="title">
            <h2>My Anounces</h2>
            <hr>
        </div>
        <div class="row">
            @foreach (var home in Model)
            {
                <div class="col-lg-4 col-md-6 col-12 single-home">
                    <a asp-controller="announces" asp-action="details" asp-route-id="@home.Id">
                        <img src="uploads/@home.Images.FirstOrDefault().Path" alt="">
                    </a>
                    <div class="caption">
                        <h4>
                            <a asp-controller="announces" asp-action="details" asp-route-id="@home.Id">@home.Address</a>
                        </h4>
                        <span>
                            $@home.Price <span>
                                /
                                @if (home.AnnounceType == "Rent")
                                {
                                    @home.Period
                                }
                                else if (home.AnnounceType == "Sale")
                                {
                                    @("sale")
                                }
                            </span>
                        </span>
                        <ul>
                            <li>
                                <i class="fas fa-vector-square"></i><span>
                                    @if (!string.IsNullOrWhiteSpace(home.Area))
                                    {
                                        @home.Area
                                    } sq ft
                                </span>
                            </li>
                            <li>
                                <i class="fas fa-bath"></i> <span>
                                    @if (home.BathCount > 0)
                                    {
                                        @home.BathCount
                                    }
                                    else
                                    {
                                        @(0)
                                    }
                                    bathrooms
                                </span>
                            </li>
                        </ul>
                        <ul class="second-ul">
                            <li>
                                <span>
                                    <i class="fas fa-bed"></i>
                                    @if (home.RoomCount > 0)
                                    {
                                        @home.RoomCount
                                    }
                                    else
                                    {
                                        @(0)
                                    }
                                    rooms
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fas fa-car"></i>
                                    @if (home.GarageCount > 0)
                                    {
                                        @home.GarageCount
                                    }
                                    else
                                    {
                                        @(0)
                                    }
                                    garages
                                </span>
                            </li>
                        </ul>
                        <p>
                            @if (home.Description.Length > 100)
                            {
                                @home.Description.Substring(0, 100)@("...")
                            }
                            else
                            {
                                @home.Description
                            }
                        </p>
                        <a class="edit" asp-action="EditAnnounce" asp-route-id="@home.Id">Edit</a>
                        <a class="delete" style="cursor:pointer;" onclick="postRemove(@home.Id, `@home.Address`)">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



@section scripts{

    <script src="~/lib/sweetalert/sweetalert.min.js"></script>

    <script>
        function postRemove(_id,name) {
            swal({
                title: "Sorğu",
                text:  `"${name}" bazadan silinecek! Razisinizmi?`,
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        $.ajax({
                            url: `@Url.Action("DeleteAnnounce")`,
                            type: "post",
                            data: { id: _id },
                            success: function (response) {

                                swal("Elan Silindi!", {
                                    icon: "success",
                                });
                                window.location.reload();
                            },
                            error: function (response) {
                                alert("Xeta bas verdi");
                                console.log(response.error);
                            }
                        })

                    }
                    else {
                        swal("Məlumat silinmədi!");
                    }
                });
        }
    </script>

}