@model AnnouncesDetailsViewModel
@{
    ViewData["Title"] = "Details";
}


<section class="background-img" data-setbg="assets/img/details-background.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Single Property Page</h1>
                <ul>
                    <li><a asp-controller="home" asp-action="index">Home</a></li>
                    <li><span class="slash">/</span><a asp-controller="announces" asp-action="index">Announces</a></li>
                    <li><span class="slash">/</span><span>Single Announce</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="top-info">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">

                @if (Model.Home.Agent != null)
                {
                    <p>Agent</p>
                    <a asp-controller="agent" asp-action="details" asp-route-id="@Model.Home.Agent.Id">
                        @Model.Home.Agent.Name @Model.Home.Agent.Surname
                    </a>
                }
                else
                {
                    @if (Model.Home.SellerName != "" || Model.Home.SellerName != null)
                    {
                        <p>Seller</p>
                        <a href="#">
                            @Model.Home.SellerName
                        </a>

                    }
                }

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <p>Phone Number</p>
                <a>
                    @Model.Home.Phone
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <p>Location</p>
                <a>@Model.Home.Address</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 offset-lg-1">
                <p>Price</p>
                <a>
                    $@Model.Home.Price <span>
                        /
                        @if (Model.Home.AnnounceType == "Rent")
                        {
                            @Model.Home.Period
                        }
                        else if (Model.Home.AnnounceType == "Sale")
                        {
                            @("sale")
                        }
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="single-detail-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 col-left">
                <div id="single-photo-carousel" class="single-photo-carousel owl-theme owl-carousel">
                    @foreach (var image in Model.Home.Images)
                    {
                        <div class="item">
                            <img src="uploads/@image.Path" alt="">
                        </div>
                    }
                </div>
                <div id="single-photo-carousel-down" class="owl-theme owl-carousel">
                    @foreach (var image in Model.Home.Images)
                    {
                        <div class="item">
                            <img src="uploads/@image.Path" width="130" height="86" alt="">
                        </div>
                    }
                </div>

                <div class="table-details">
                    <div class="title">
                        <h2>Overview</h2>
                        <hr>
                    </div>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Area</td>
                                <td>@Model.Home.Area sq ft</td>
                            </tr>
                            <tr>
                                <td>Rooms</td>
                                <td>
                                    @if (Model.Home.RoomCount > 0)
                                    {
                                        @Model.Home.RoomCount
                                    }
                                    else
                                    {
                                        @(0)
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Land Area</td>
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(Model.Home.LandArea))
                                    {
                                        @Model.Home.LandArea
                                    }
                                    else
                                    {
                                        @(0)
                                    }
                                    sot
                                </td>
                            </tr>
                            <tr>
                                <td>Bath Count</td>
                                <td>
                                    @if (Model.Home.BathCount > 0)
                                    {
                                        @Model.Home.BathCount
                                    }
                                    else
                                    {
                                        @(0)
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Garage Count</td>
                                <td>
                                    @if (Model.Home.GarageCount > 0)
                                    {
                                        @Model.Home.GarageCount
                                    }
                                    else
                                    {
                                        @(0)
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>
                                    @if (Model.Home.Agent != null)
                                    {
                                        @if (!string.IsNullOrWhiteSpace(Model.Home.Agent.Phone))
                                        {
                                            @Model.Home.Agent.Phone
                                        }
                                        else if (!string.IsNullOrWhiteSpace(Model.Home.Phone))
                                        {
                                            @Model.Home.Phone
                                        }
                                    }
                                    else
                                    {
                                        @Model.Home.Phone
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table></table>
                </div>

                <div class="single-description">
                    <div class="title">
                        <h2>Description</h2>
                        <hr>
                    </div>
                    <p>
                        @Model.Home.Description
                    </p>
                </div>

                <div class="review">
                    <div class="title">
                        <h2>Reviews</h2>
                        <hr>
                    </div>
                    @if (Model.Home.Comments != null)
                    {
                        @foreach (var comment in Model.Home.Comments)
                        {
                            <div class="comment">
                                <div class="body-right" style="margin-left:15px;">
                                    <h4>@Model.Owners.Where(a=>a.Id== comment.OwnerId).FirstOrDefault().UserName</h4>
                                    <span><i class="far fa-calendar-alt" style="margin-right:15px;"></i>@comment.CreatedDate.ToString("dddd, dd MMMM yyyy")</span>
                                    <p style="font-size:18px; margin-top:7px;">
                                        @comment.Message
                                    </p>
                                </div>
                            </div>
                            <hr>
                        }
                    }
                </div>

                <div class="comment-form">
                    <div class="title">
                        <h2>Write Review</h2>
                        <hr>
                    </div>
                    <form class="row g-3 needs-validation" id="sendComment" novalidate>
                        <input type="hidden" name="homeId" value="@Model.Home.Id" />
                        <div class="col-12">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" name="message" rows="3" required></textarea>
                            <div class="valid-feedback">
                                Looks Good
                            </div>
                            <div class="invalid-feedback">
                                Enter A Message
                            </div>
                        </div>
                        <div class="col-md-8 col-12">
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-12 col-md-12 col-lg-4 col-right">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d603.5223237243171!2d-0.12355463436486819!3d51.479671256558355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604f161cd831f%3A0xa1816c2ac2683faa!2s93%20Old%20South%20Lambeth%20Rd%2C%20Stockwell%2C%20London%20SW8%201XU%2C%20UK!5e0!3m2!1sen!2s!4v1608020412648!5m2!1sen!2s"
                            width="100%" height="230" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                </div>
                <a>@Model.Home.Phone</a>
                <a onclick="addFavorite(@Model.Home.Id,event)" style="cursor:pointer;" class="favorite"><i class="fas fa-heart"></i>Add To Favorites</a>
                <div class="question-form">
                    @if (TempData["message"] != null)
                    {
                        <div class="alert alert-success">@TempData["message"]</div>
                    }
                    <form class="row g-3 needs-validation" asp-action="SendMail" method="post" novalidate>
                        <input type="hidden" name="ownerId" value="@Model.Home.OwnerId" />
                        <input type="hidden" name="homeId" value="@Model.Home.Id" />
                        <div class="col-12">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" required>
                            <div class="valid-feedback">
                                Looks Good
                            </div>
                            <div class="invalid-feedback">
                                Enter Your Name
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" class="form-control" name="phone" required>
                            <div class="valid-feedback">
                                Looks Good
                            </div>
                            <div class="invalid-feedback">
                                Enter Your Phone
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" required>
                            <div class="valid-feedback">
                                Looks Good
                            </div>
                            <div class="invalid-feedback">
                                Enter Your Email
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" name="message" rows="3" required></textarea>
                            <div class="valid-feedback">
                                Looks Good
                            </div>
                            <div class="invalid-feedback">
                                Enter Your Message
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </div>
                    </form>
                </div>
                @if (Model.Agent!=null)
                {

                    <div class="agent">
                        <div class="title">
                            <h2>Our Real Estate Agents</h2>
                            <hr>
                        </div>
                        <div class="media-top">
                            <div class="media-img">
                                <img src="uploads/@Model.Agent.ImagePath" alt="" width="100"
                                     height="100">
                            </div>
                            <div class="media-body">
                                <h4>@Model.Agent.Name @Model.Agent.Surname</h4>
                                <p class="p-top">Listing Agent</p>
                                <p class="p-bottom"> <span>tel</span> <a href="#">@Model.Agent.Phone</a></p>
                            </div>
                        </div>
                        <p>
                            @if (Model.Agent.Description.Length > 35)
                            {
                                @Model.Agent.Description.Substring(0, 35)
                            }
                            else
                            {
                                @Model.Agent.Description
                            }
                        </p>
                        <a asp-controller="agent" asp-action="details" asp-route-id="@Model.Agent.Id">Get in touch</a>
                    </div>
                }
                <div class="detail-socials">
                    <div class="title">
                        <h2>Share</h2>
                        <hr>
                    </div>
                    <div class="body">
                        <ul>
                            @if (!string.IsNullOrWhiteSpace(Model.AppInfo.FacebookLink))
                            {
                                <li><a class="facebook" href="@Model.AppInfo.FacebookLink"><i class="fab fa-facebook-f"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.AppInfo.TwitterLink))
                            {
                                <li><a class="twitter" href="@Model.AppInfo.TwitterLink"><i class="fab fa-twitter"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.AppInfo.InstagramLink))
                            {
                                <li><a class="google" href="@Model.AppInfo.InstagramLink"><i class="fab fa-instagram"></i></a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="recent-homes">
                    <div class="title">
                        <h2>Recent Properties</h2>
                        <hr>
                    </div>
                    @foreach (var item in Model.Homes)
                    {

                        <div class="recent-home">
                            <a asp-action="details" asp-route-id="@item.Id">
                                <img src="uploads/@item.Images.FirstOrDefault().Path" alt="">
                            </a>
                            <div class="caption">
                                <h4> <a asp-action="details" asp-route-id="@item.Id">@item.Address</a></h4>
                                <span>
                                    $@item.Price
                                    <span>
                                        /
                                        @if (item.AnnounceType == "Rent")
                                        {
                                            @item.Period
                                        }
                                        else if (item.AnnounceType == "Sale")
                                        {
                                            @("sale")
                                        }
                                    </span>
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>



@section scripts{
   
    <script>


        function onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
        }

        function addFavorite(id, event) {
            // event.stopPropagation();
            event.preventDefault();

            let cardItems = $.cookie('card-items');
            let items;

            if (cardItems == null) {
                items = [];
            }
            else {
                items = cardItems.split(',').map(e => parseInt(e));
            }

            items.push(id);
            items = items.filter(onlyUnique);

            $.cookie('card-items', items.toString(), { expires: 5, path: '/' });

            console.log('cookide');

            toastr.success("Seçilmişlərə əlavə olundu");
            // $('.item-count').removeClass('d-none').html(items.length);

        }


        $('#sendComment').submit(function (e) {
            e.preventDefault();

            if ($('#message').val() == "") {
                toastr.error('Boş mesaj göndərmək olmaz', "Xəta");
                return;
            }

            //let url = e.currentTarget.action;
           // let method = e.currentTarget.method;
            let formData = new FormData(e.currentTarget);

            $.ajax({
                url: `@Url.Action("CommentAdd")`,
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Xəta");
                    }
                    else {
                        var comment = `<div class="comment">
                              <div class="body-right">
                                  <h4>${response.ownerName}</h4>
                                  <span><i class="far fa-calendar-alt" style="margin-right:15px;></i>${response.date}</span>
                                  <p style="font-size:18px; margin-top:7px;">
                                      ${response.commentMesage}
                                  </p>
                              </div>
                            </div>
                               <hr>`;

                        $('.review').append(comment);
                        toastr.success(response.message, "Uğurlu");
                    }
                },
                error: function (response) {
                    toastr.error("Bilinmeyen xeta ashkarlandi", "Xəta");
                }
            });

        });


    </script>

}